<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "education.boxtops"
        version     = "0.0.1" >

    <name>Boxtops for Education</name>

    <description>
        A Backbone Frontend for School Fundraising
    </description>

    <author href="https://github.com/andrewpatterson3001" email="andrew.patterson.3001@gmail.com">
        Andrew Patterson
    </author>

</widget>